
<main role='main'>

  <section class='jumbotron text-center'>
    <div class='container'>
      <h1 class='jumbotron-heading'>Exemplo de álbum</h1>
      <p class='lead text-muted'>Algo curto e direto, sobre a coleção abaixo (conteúdo, criador e etc). Faça com que
                                 seja curto e legal, mas não tão curto ao ponto de as pessoas pularem ele.</p>
      <p>
        <a href='#' class='btn btn-primary my-2' routerLink='.'>Call-to-action principal</a>
        <a href='#' class='btn btn-secondary my-2' routerLink='not'>Call-to-action secundário</a>
      </p>
    </div>
  </section>

  <div class='album py-5 bg-light'>
    <div class='container'>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
